* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: coolvetica, sans-serif;
}
body {
    background-color: white;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

/* Language Button */
#language-btn {
    align-self: end;
    padding: 1vh 1.4vw;
    background-color: #800080;
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

#language-btn:hover {
    background-color: #660066;
}

.main {
    display: flex;
    gap: 10vw;
    align-items: flex-end;
}

/* Logo */
.logo {
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
    cursor: pointer;
}
.logo img {
    display: block;
    width: 25em;           
    height: auto; 
}

/* Navigation */
.nav-container {
    display: flex;
    gap: 8vw;
    align-items: center;
}

.nav-button {
    background: none;
    border: none;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.nav-button img {
    width: 8.5em;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease; 
}

.nav-button img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.nav-button p {
    font-size: 2em;
}

/* Gradient Bar */
.gradient-bar {
    width: 100%;
    background: linear-gradient(to right, #ff007f, #800080);
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

#running-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: running-text 10s linear infinite;
}
#projektid-content {
    
}
#projektid-content p {
    font-size: 1.1em;
}
#kontakt-content {
    font-size: 2em;
    color: black;
    text-align: left;
    width: 50vw;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    align-self: flex-start;
    margin-left: 16vw;
}
@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/COOLVETICA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Text scroll animation */
@keyframes running-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
